@using project1.ViewModels
@model BookVm
@section Title {
Book
}
@section SubTitle {
    Details
}

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:10px">#</th>
                <th>Title</th>
                <th>Author</th>
                <th>publisher</th>
                <th>publisher Date</th>
                <th>image</th>
                <th>categories</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.Id</td>
                <td>@Model.Title</td>
                <td>@Model.Author</td>
                <td>@Model.Publisher</td>
                <td>@Model.PublishDate</td>
                <td><img src="~/img/book/@Model.imageUrl" width="50px" /></td>
                <td>@string.Join(", ", Model.Categories)</td>
            </tr>

        </tbody>
    </table>
</div>